[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/cglm"]
	path = external/cglm
	url = https://github.com/recp/cglm.git
[submodule "external/microui"]
	path = external/microui
	url = https://github.com/rxi/microui.git
